//Модальное окно
.popup(data-modal="modal-1")
	.dm-table
//		<div class="dm-cell">
//			<div class="dm-modal">
//				<a href="#" class="close">
//				</a>
//				<p class='success_mail'>Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.</p>
//				<form>
//					<div>
//						<label>Введите своё имя</label>
//						<div class="modal_form_input_wrap">
//							<div class="modal_input_error">Заполните поле
//								<div class="modal_error_triangle"></div>
//								<div class="modal_error_chest_img"></div>
//							</div>
//							<i class="fa fa-check"></i>
//							<input name="name" class="modal_form_input" type="text">
//						</div>
//					</div>
//					<div>
//						<label>Введите свой телефон</label>
//						<div class="modal_form_input_wrap">
//							<div class="modal_input_error">Заполните поле
//								<div class="modal_error_triangle"></div>
//								<div class="modal_error_chest_img"></div>
//							</div>
//							<i class="fa fa-check"></i>
//							<input name="phone" class="modal_form_phone" type="text">
//						</div>
//					</div>
//					<div>
//						<label>Введите свой e-mail</label>
//						<div class="modal_form_input_wrap">
//							<div class="modal_input_error">Заполните поле
//								<div class="modal_error_triangle"></div>
//								<div class="modal_error_chest_img"></div>
//							</div>
//							<i class="fa fa-check"></i>
//							<input name="email" class="modal_form_email" type="text">
//						</div>
//					</div>
//					<div>
//						<div class="select">
//							<div class="slct_arrow">
//								<i class="fa fa-angle-down"></i>
//							</div>
//							<a href="#" class="slct">Выбор заголовков:</a>
//							<ul class="drop">
//								<li>Вы крутые</li>
//								<li>Я в Вас влюбился</li>
//								<li>Быстрей Вас только Флеш</li>
//							</ul>
//							<input type="hidden" name="services">
//						</div>
//					</div>
//					<input type="hidden" name="form_name" value="">
//					<input type="hidden" name="form_type" value="modal">
//					<input type="submit" value="Отправить">
//				</form>
//			</div>
//		</div>
//	</div>
//	<div class="overlay">
//	</div>
//</div>
//<!-- Модальное окно success -->
//<div class="popup" data-modal="modal-res">
//	<div class="dm-table">
//		<div class="dm-cell">
//			<div class="dm-modal">
//				<p class='success_mail'>Заявка отправлена</p>
//			</div>
//		</div>
//	</div>
//</div>


