extends ../base

block variables
	- var stickyClass = 'sticky-footer'
	- var pageClass = 'blog sticky-footer'
block title
	| Blog page
block main
	section.blog-section
		.container
			.row
				.blog-section__title
					h1
						span Blog
					p для максимального удобства

